*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
/build/
/config.*
/aclocal.m4
/autom4te.cache/
/makefile.inc
/bin/
/c_api/bin/
/c_api/gpu/bin/
/tests/test
/tests/gtest/
faiss/python/swigfaiss_avx2.swig
faiss/python/swigfaiss_avx512.swig
faiss/python/swigfaiss_avx512_spr.swig
faiss/python/swigfaiss_sve.swig
.venv/
benchs/*.tsv
venv/
report*.pdf
.DS_Store
thesis_presentation.pdf
thesis.pdf
thesis/
benchs/M2_DISTANCE_COUNTERS.md
suco.pdf
shg_index.pdf
cspg.pdf
thesis.pdf
paper/
texput.log